/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
views/layouts/menu.blade.php
views/layouts/menu_financeiro.blade.php
resources/views/layouts/menu_financeiro.blade.php
resources/views/layouts/menu.blade.php

/views/layouts/menu.blade.php
/views/layouts/menu_financeiro.blade.php

/views/layouts/
/resources/views/layouts/
/orla_comissao/resources/views/layouts/
/resources/views/layouts/menu_financeiro.blade.php
/resources/views/layouts/menu.blade.php
/orla_comissao/resources/views/layouts/menu_financeiro.blade.php
/orla_comissao/resources/views/layouts/menu.blade.php
/orla_comissao/resources/views/layouts/